$search-col: #edf1f4;
$box-col: #fcd7b6;
$user-btn-col: #a3bbc8;
$menu-col: #436372;
$footer-text: #7b7b7b;
$footer-btn: #a3bbc8;
$slider-title: #243f4d;
$features-title: #414141;
$features-text: #585858;
$product-one-title: #191919;
$filter-item: #8b8b8b;
$filter-button-active: #1a1a1a;
$card-bg: #feefe2;
$bottom-name: #191919;
%dmsans-bold {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-medium {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-regular {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%myriad-regular {
  font-family: 'Myriad-Pro-Regular', sans-serif;
  font-weight: 400;
}

%rubik-bold {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%rubik-medium {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-regular {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}