.top-bar {
  background-color: $search-col;
  &__inner {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }
  &__title {
    @extend %myriad-regular;
    font-size: 36px;
    line-height: 24px;
    color: $article-date;
  }
}

.bredcrumbs {
  @extend %rubik-regular;
  font-size: 14px;
  line-height: 24px;
  color: $bredcrumbs;
  .bredcrumbs__list {
    padding-top: 15px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__link {
    padding-left: 2px;
  }
  &__item {
    padding-right: 7px;
    &+.bredcrumbs__item::before {
      content: '/';
    }
  }
}