.product-one {
  margin: 0 74px;
  &__features {
    display: flex;
  }
  &__features-item {
    display: flex;
    padding: 50px 115px 50px 150px;
    border-right: 1px solid #e8e4df;
  }
  &__features-item:last-child {
    border-right: none;
  }
  &__features-title {
    @extend %dmsans-bold;
    font-size: 18px;
    line-height: 40px;
    color: $features-title;
  }
  &__features-text {
    @extend %myriad-regular;
    font-size: 16px;
    line-height: 30px;
    color: $features-text;
  }
  &__features-icon {
    object-fit: contain;
    width: 54px;
    margin-right: 30px;
  }
  &__title {
    @extend %dmsans-bold;
    font-size: 36px;
    line-height: 40px;
    color: $product-one-title;
    text-align: center;
    padding: 70px 0 30px;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px;
    max-width: 350px;
  }
  &__filter-item {
    @extend %dmsans-bold;
    font-size: 16px;
    color: $filter-item;
    line-height: 18px;
    border: none;
    outline: transparent;
    cursor: pointer;
    background-color: transparent;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
  &__items {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    bottom: -50px;
    transition: all .3s;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
    path {
      fill: $user-btn-col;
    }
    &+.product-one__item {
      margin-left: 15px;
    }
    &:hover {
      background-color: $user-btn-col;
      path {
        fill: #fff;
      }
    }
  }
  &__box-title {
    margin-top: 40px;
    @extend %dmsans-medium;
    font-style: 16px;
    line-height: 40px;
    color: $slider-title;
  }
  &__box-price {
    @extend %dmsans-bold;
    font-size: 16px;
    line-height: 40px;
    color: $user-btn-col;
  }
  &__box-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    min-height: 420px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    overflow: hidden;
    &:hover {
      .product-one__items {
        bottom: 137px;
      }
    }
  }
  &__box-image {
    object-fit: scale-down;
  }
  &__bottom-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
  }
  &__bottom-item {
    max-width: 370px;
    width: 100%;
    height: 276px;
  }
  &__bottom-name {
    @extend %dmsans-bold;
    font-size: 20px;
    line-height: 27px;
    color: $bottom-name;
    padding-right: 142px;
    padding-bottom: 14px;
    padding-top: 35px;
    padding-left: 25px;
  }
  &__bottom-type {
    @extend %dmsans-bold;
    font-size: 16px;
    line-height: 20px;
    color: $user-btn-col;
    padding-left: 25px;
  }
  &__inner {
    margin-bottom: 120px;
  }
}

.mixitup-control-active {
  color: $filter-button-active;
}

.product-cards {
  padding-top: 215px;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.product-card {
  background-color: $card-bg;
  width: calc(50% - 15px);
  display: flex;
  position: relative;
  &+.product-card {
    margin-left: 30px;
  }
  &__image {
    position: absolute;
    left: 146px;
    top: -97px;
  }
  &__box {
    padding: 100px 9rem 100px 387px;
  }
  &__title {
    @extend %dmsans-bold;
    font-size: 26px;
    line-height: 32px;
    color: $slider-title;
    margin-bottom: 20px;
  }
  &__text {
    @extend %rubik-regular;
    font-size: 16px;
    line-height: 30px;
    color: $slider-title;
    margin-bottom: 45px;
  }
  &__link {
    border: 1px solid #b3b7b5;
    padding: 22px 85px 22px 20px;
    @extend %rubik-medium;
    font-size: 15px;
    line-height: 12px;
    color: $menu-col;
    border-radius: 5px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-card.png');
      right: 19px;
      top: 26px;
      width: 22px;
      height: 9px;
    }
  }
}

.fancybox {
  &__inner {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fancybox-play {
  cursor: pointer;
}