.partners {
    padding: 60px 0;
    background-color: $partners-bg;
    &__inner {
        display: flex;
        justify-content: space-evenly;
    }
    &__item {
        object-fit: contain;
    }
}
